<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciudad_Inquieta</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Merienda&family=Oleo+Script&family=Poppins:wght@100;600&family=Urbanist:wght@300;400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <div class="holder">
            <div class="audio">
                <img src="img/logo_radio_chico.jpg"><audio src="img/Presentación_programa.mp3"
                    alt="audio_inicioPrograma" controls=""></audio>


                <h1><span class="nombre_Marisa">Marisa MATTA en</span> Ciudad Inquieta...<span>RBD-Radio</span></h1>
            </div>



    </header>

    <nav>
        <div class="holder">
            <a class="" href="">INICIO</a>
            <a class="" href="#iraMIPROGRAMA">MI PROGRAMA</a>
            <a class="" href="#iraCOLABORADORES">COLABORADORES</a>
            <a class="" href="#iraNOVEDADES">NOVEDADES</a>
            <a class="" href="#iraCONTACTO">CONTACTO</a>

            <div class="iconos_menu">
                <a href="http://instagram.com/ciudadinquieta" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="http://www.facebook.com/ciudadinquieta" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="http://wa.me/+5491127204137" target="_blank"><i class="bi bi-whatsapp"></i></a>
            </div>
        </div>
    </nav>

    <main class="holder">
        <div>
            <a class="linkRadio" href="https://rbdradio.com.ar/" target="_blank">
                <img src="img/ciudad inquieta foto.jpg" alt="foto_ciudad">
                <div class="linkradio">clikea aquí para ir a RBD-Radio</div>
            </a>

        </div>
        <div class="columnas">
            <div class="foto_quien">
                <img src="img/Original_28-5-23.jpg" alt="foto_quien">
            </div>

            <div class="quien">
                <h2>QUIEN SOY</h2>
                <div>
                    <ul>
                        <li>Soy Marisa MATTA profesional en Ciencias Económicas con una destacada trayectoria en temas
                            fiscales tanto en el ámbito laboral como en la docencia universitaria. A ello se ha sumado
                            mi interés por la actividad gremial, ámbito en el que he participado activamente.</li><br>

                        <li>Con ese bagaje en manos, de experiencia laboral, gremial, docencia y cultura nace CIUDAD
                            INQUIETA, el programa radial que coordino en RBD Radio.</li><br>

                        <li>Una historia que comenzó en el 2016 junto a María Angélica, Luis Cortés y Ricardo Nieto en
                            Radio CV.</li><br>

                        <li>Más tarde se agregaron al programa otros colaboradores quienes abordan periódicamente
                            variados temas de interés. Tal es el caso del Licenciado Nicolás Grosse, economía. El
                            contador Luis Cortés, espectáculos. El Ingeniero Leopoldo Gimeno, tango. Y finalmente el
                            Contador Carlos Louit, historia nacional e internacional.</li><br>

                        <li>Nos interesa hablar sobre la actualidad y hemos entrevistado a músicos, cantantes,
                            escritores, guías turísticos y arqueólogos. Estamos centrados en aquellas personas que con
                            su aporte enriquecen nuestra visión del país y del mundo.</li><br>
                    </ul>
                </div>
            </div>
        </div>

        <section class="miprograma" id="iraMIPROGRAMA">

            <div class="columnasmp">
                <a class="programacion" href="https://rbdradio.com.ar/timetable/event/ciudad-inquieta/" target="_blank">


                    <img src="img/fotoprom960.jpg" alt="fotoprograma">
                    <div class="miprogramalink">clikea aquí para ir a mis programas</div>
                </a>

            </div>

            <div class="programas_anteriores">
                <div class="programa_5_7">
                    <h2>LES COMENTO LOS TEMAS INTERESANTES QUE HEMOS VISTO EN EL PROGRAMA DEL 05/07/23</h2>
                    <p>
                        El objetivo del programa es incurrir en distintas disciplinas y en esta oportunidad
                        entrevistamos a Mariano Libertella, hijo del director, compositor y bandoneonista “Pepe”
                        Libertella, creador del Sexto Mayor. El 4 de ese mes en la Academia del Tango de Bs As se
                        realizó un homenaje a su padre y acompañaron también su esposa; su hijo Juan quien armó la
                        Orquesta allí presente - Pepe Libertella - ofreciendo varios temas musicales.
                    </p>
                    <p>
                        El historiador y Contador Público Carlos Louit nos introdujo en “ Hechos llamativos de nuestra
                        historia en el 1800”. El primer emplazamiento de los monumentos a Manuel Belgrano y José de San
                        Martín.
                    </p>
                    <p>
                        Quién fue José Obregozo, hombre mulato que dijo haber intervenido en hechos de nuestra
                        Independencia y por ello se lo condecoró. Había sido una gran mentira, luego comprobada.
                    </p>
                    <p>
                        El funcionamiento del primer tranvía por Julio y Federico Lacroze en 2/1870. Y la aparición el
                        19/10/1856 del globo por parte de Paul Lartet. Como siempre, todo compartido por hermosa música,
                        en este caso por la orquesta de Pepe Libertella.
                    </p>
                </div>
                <div class="fotoprograma0507"><img src="img/programa5_7.jpg">
                    <div class=programa>
                        <h2>Con Eduardo Walczak, violista de Sexteto Mayor</h2>
                    </div>
                </div>

            </div>
        </section>

        <section class="colaboradores" id="iraCOLABORADORES">

            <div class="fotogrande">
                <img src="img/503x320colaborad.jpg">
            </div>

            <div class="fotoscolaboradores">
                <div class="colaborador1"><img src="img/Nicolás Grosse_Lic. en economía - copia.jpg">
                    <figcaption>Nicolás GROSSE<h5>Lic. en Economía</h5>
                    </figcaption>
                </div>

                <div class="colaborador2"><img src="img/Carlos Loiut_Contador Público - copia.jpg">
                    <figcaption>Carlos LOUIT<h5>Contador Público Nacional</h5>
                    </figcaption>
                </div>

                <div class="colaborador3"><img src="img/Luis A. Cortés-Contador Público - copia.jpg">
                    <figcaption>Luis A. CORTES<h5>Contador Público Nacional</h5>
                    </figcaption>
                </div>
            </div>

        </section>
        <hr>
        <section class="novedades" id="iraNOVEDADES">

           
                <div><h2>PARA VER NOVEDADES INGRESA TUS DATOS</h2></div>
                
           

        </section>
        <hr>
        <section class="contacto" id="iraCONTACTO">

            <div class="padrecontacto">
                <div class="contactoradio">
                    <ul>

                        <ol>
                            <h2>CONTACTO CON RBD-Radio</h2>
                        </ol>
                        <ol>Redes Sociales RBD-Radio
                            <a href="https://www.instagram.com/rbdradio" target="_blank"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="https://www.facebook.com/rbdradioonline" target="_blank"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://twitter.com/rbdradioarg" target="_blank"><i class="bi bi-twitter"></i></a>
                            <a href="https://www.youtube.com/channel/UCYTIqV4EZUGU2AeLiWihpgA" target="_blank"><i
                                    class="bi bi-youtube"></i></a>

                        </ol>
                        <ol>la APP de RBD-Radio<a
                                href="https://play.google.com/store/apps/details?id=com.rbdradiomultimedia&hl=es_AR&gl=US"
                                target="_blank"><i class="bi bi-google-play"></i></a> </ol>

                    </ul>
                </div>

                <div class="contactoMarisa">

                    <h2>¿Deseas información sobre mis programas de radio?</h2>
                    <form action="">
                        <label>Ingrese su Nombre</label>
                        <input type="text" name="nombre" minlength="5" maxlength="18" autocomplete="off" required>

                        <label>Ingrese su Email</label>
                        <input type="email" name="email" required>

                        <label>Ingrese su Teléfono</label>
                        <input type="text" name="tel" required>

                        <label> ¿Qué deseas saber?, con gusto te responderé.</label>

                        <textarea name="mensaje"></textarea>

                        <button class="acciones"><input type="submit"><a href="mmatta4@gmail.com"><i
                                    class="bi bi-arrow-right-short"></i></a></button>

                    </form>

                </div>



            </div>

        </section>

    </main>

    <footer>
        <h4>Diseñado por Isabel MAGAN</h4>
    </footer>

</body>

</html>