/* font-family: 'Urbanist', sans-serif;*/

/*

*{
    margin: 0;
    padding: 0;
}
*/
body {
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #02051f;
    margin: 0 auto;

}

header {
    
    padding-top: 3px;
    height: 76px;
    background-color: black;
    margin: 0 auto;
    width: 960px;
    display:;
    position: ;
    
        
}
header .holder{
    display: flex;
    display: inline-block;
    color: white;
    font-size: 8px;
    font-style: italic;
    position: ;
    
}

.audio audio {
    margin-bottom: 10px;
    
}
.audio img {
    border-radius: 100%;
    border-color: white;
    border: solid 3px white;
    
}

header .holder{
   /* color: white;
    font-size: 8px;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 0px;*/
   
}

.nombre_Marisa h2{
    color:white;
    font-size: 1rem;
    font-style: normal;
    display:;
    position: ;
    display: flex;
    align-self: center;
    
}

nav .holder{
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-style: italic;
   /* position: fixed;*/
    align-items: center;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 55px;
}

.iconos_menu{
    align-content: flex-end;
    width: 60px;
    background-color: #0d1770;
    

}
header nav{
    position:fixed;
}

nav a {
    text-decoration: none;
    color: white;

}

nav a:hover {
    color: brown;
}

footer {
    width: 960px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: white;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
    
}

.columnas {
    display: flex;

}

/** INICIO */

.linkRadio {
    text-decoration: none;
    color: black;

}

.linkRadio img {
    height: 300px;
    width: 960px;

}

.linkradio {
    text-align: center;
    background-color:#02051f;
    color: pink;
    font-size: 20px;
    margin-bottom: 10px;

}

.foto_quien img {
   
    width: 450px;
    height: 450px;
    margin-bottom: 0px;
   

}

.quien {
    background-color: #043bf0;
    height: 430px;
    margin-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-align: justify;
    font-size: 15px;
    font-style: bolder;
    color: white;
}

/*MI PROGRAMA*/

.menu h2{
    font-size: 25px;
    font-size: bolder;
    font-size: italic;
    color:pink;
    text-align:left;
    margin-top: 45px;
   
}

.columnasmp {
    display: flex;
    box-sizing: border-box;  
   
}

.programacion{
    text-decoration: none;
    
} 
.programacion img{
    box-sizing: border-box;
    
}

.programacion :hover {
    color: brown;

}
.miprogramalink{
    font-size: 20px;
    background-color: #02051f;
    color: pink;
    text-align: center;
    margin-bottom: 20px;
    
}

.programas_anteriores {
    display: flex;
    
}

.fotoprograma0507 {
    margin-left: 14px;
   
}
.fotoprograma0507 img{
    width: 375px;
    height: 500px;
    margin-top: 10px;
    
}

.programa_5_7 h2 {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.programa_5_7 p {
    color: white;
    font-size: 19px;
    margin-left: 10px;
    font-family: italic;
    margin-top: 40px;
    text-align: justify;
}

.programa h2 {
    margin-top: 2px;
    color: white;
    font-size: 14px;
    text-align: center;
    
    
}


/* COLABORADORES*/


.fotogrande {
    background-color: #02051f;
    display: flex;
    justify-content: center;

}

.fotogrande img:hover {
    filter: grayscale(1%);
    transform: rotate(7deg);
}

.fotoscolaboradores {
    display: flex;
    justify-content: center;
    width: 30%;
    margin-left: 335px;
    margin-top: 30px;
    text-align: center;
    color: white;
}

.fotoNicolas {
    margin-right: 40px;

}

.fotoNicolas h5 {
    margin-top: 0px;
}

.colaborador3{
    margin-right:40px;
}

.colaborador3 h5 {
    margin-top: 0px;

}

.colaborador4 h5{
    margin-top:0px;
}
.colaboradorCarlos h2{
    font-size: 20px;
}
.colaboradorCarlos{
    color: white;
}
.colaboradorCarlos h3{
    text-align: justify;
}

/* NOVEDADES */


.novedades .menu{
    height: 10px;
}

.novedades h3{
    color:rgb(140, 181, 235);
    text-align: center;
    margin-bottom: 30px;
    height: 50px;
}
.novedadesface{
    display: flex;
   
}
.novedades h3{
    color:rgb(140, 181, 235);
    margin-left: 100px;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
.novedadesface h3{
    margin-top: 100px;
}
.novedadesface img{
    margin-left: 130px;
}


/* CONTACTO*/

.padrecontacto {
    display: flex;
    box-sizing: border-box;
    margin-top: 20px;

}

.contactoradio {
    width: 400px;
    
}
.contactoradio ul{
    padding-left: 0;
}

.contactoradio ol {
    flex-direction: column;
    color: white;
    margin-top: 20px;

}

.contactoradio h2 {
    text-align: justify;
    color: rgb(140, 181, 235);
    padding-top: 5px;
    padding-bottom: 20px;
}

.contactoradio ul :hover {
    color: brown;
}

.contactoMarisa {
    width: 500px;
    flex-direction: column;
    margin-left: 80px;
}

.contactoMarisa h2 {
    color:rgb(140, 181, 235);
    margin-left: 50px;
    text-align: justify;
    width: 430px;
}

label {
    font-size: 13px;
    margin-top: 3px;
    margin-left: 8px;
}

form {
    display: flex;
    flex-direction: column;
    width: 430px;
    margin-left: 50px;
    color: white;
}

input[type=text] {
    border: 0;
    border-bottom: 1px solid #90a378;
    padding: 15px;
    background-color: white;

}

input[type=email] {
    border: 0;
    border-bottom: 1px solid #90a378;
    
    padding: 15px;
    background-color: white;
}

textarea {
    border: 0;
    border-bottom: 1px solid #90a378;
    padding: 19px;
    background-color: white;
}


button {
    width: 100px;
    text-align: center;
    padding: 8px 10px;
    background-color: black;
    color: white;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}

button  :hover{
    color: gold;
}

.bi-arrow-right-short {
    color: white;
}


@media (min-width: 320px) and (max-width: 480px) {
    body{background: #02051f;}



    body{
       
        
        font-family: 'Urbanist', sans-serif;
       
        
        /*background-color: #02051f;*/
        margin: 0 auto;
        width: 320px;
    
           
    }
    .audio audio{
        
        align-items: center;
        width: 130px;
        border-radius: 100%;
        
    }

    .audio img{
        margin-left: 15px;
        
       
    }
    header h1{
        font-size: 12px;
        
    }
    header h2{
        font-size:10px;
       
    }

     .nombre_Marisa{
        margin-top: 33px;
        text-align: center;
        margin-top: 10px;
     }            
    
    nav .holder{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        margin-top:30px;
        padding: auto;
        width: 320px;
    }
    .iconos_menu{
        display:flex;
        justify-content: space-around;
        align-items:center ;
        width: 80px;
         margin-top: 15px;
    
    }
    .linkRadio img{
        width: 320px;
        
    }

    .linkradio {
        text-align: center;
        background-color:#02051f;
        color: pink;
        font-size: 15px;
        margin-left: 10px;
    
    }
    .columnas {
        flex-direction: column;
    }
    .quien {
        width: 320px;
        height: 300px;
        margin-left: 0;
        
    }
    .quien h2{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 12px;

    }
    .quien ul{
        font-size: 10px;
        margin-right: 20px;
    }
    .menu h2{
        font-size: 17px;
        font-size: bolder;
        font-size: italic;
        color:pink;
        text-align:left;
        margin-top: 45px;
       
    }

.miprograma{
    flex-direction: column;
}
.programacion img{
    width:310px ;
}
.miprogramalink{
    font-size: 15px;
    justify-content: center;
    color: pink;
}

 .programas_anteriores{
    flex-direction: column;
    width: 350px;
 } 
 
 .programa_5_7 h2{
    font-size: 11px;
    text-align: center;
    width: 300px;
    

 }

 .programa_5_7 p{
    margin-top: 10px;
    
}

 .programa_5_7 p{
    font-size: 12px;
    padding-right: 100px;
    margin-left: 10px;
    width: 295px;
}
.fotoprograma0507 img{
    width: 350px;
}

.fotoprograma0507 h2{
    font-size: 11px;
    margin-right: 50px;
}

.fotogrande img{
    width: 320px;
    margin-left: 50px;
    margin-bottom: 0;
}
.fotoscolaboradores {
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-left:2px;
    margin-top: 30px;
    text-align: center;
    color: white;
    flex-direction: column;
    width: 200px;
    
    
}

.fotoNicolas img{
    margin-left: 60px;
    margin-top:0;
    
    
}
.fotoNicolas figcaption {
    margin-top: 1px;
    margin-left: 105px;
    text-align: center;
    font-size:12px ;
    width: 110px;
    
}
.fotoNicolas h5{
    margin-top: 0;
    font-size: 11px;
    margin-bottom: 2px;
    
}
.fotoNicolas h4{
    margin-top: 0;
    font-size: 11px;
    margin-left: 3px;
}


.colaborador3 img{
    margin-left: 55px;
    margin-top:0;
    
}

.colaborador3 img figcaption{
    margin-top: 0;
    font-size:13px;
    text-align: center;
    flex-direction: column;
    
}
.colaborador3 figcaption{
    margin-left:100px ;
    font-size: 13px;
    width: 100px;
}

.colaborador3 h5 {
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 2px;
    text-align: center;

}

.colaborador3 h4{
    margin-top: 0;
    font-size: 11px;
    text-align: center;
    
}

.colaborador4 img{
    margin-left: 53px;
    margin-top:0;
    
}

.colaborador4 img figcaption{
    margin-top: 0;
    font-size:13px;
    text-align: center;
    flex-direction: column;
    
}
.colaborador4 figcaption{
    margin-left:100px ;
    font-size: 13px;
    width: 100px;
}

.colaborador4 h5 {
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 2px;
    text-align: center;

}

.colaborador4 h4{
    margin-top: 0;
    font-size: 11px;
    text-align: center;
    
}
.colaboradorCarlos h2{
    font-size:14px;
}
.colaboradorCarlos h5{
    font-size:11px;
}
.colaboradorCarlos h3{
    font-size: 12px;
    width: 295px;
}
.novedades .menu h2{
        font-size: 17px;
        font-size: bolder;
        font-size: italic;
        color:pink;
        text-align:left;
        margin-top: 45px;
        display: flex;
}

.novedades h3{
    font-size: 11px; 
    flex-direction: ;
    margin-top: 20px;
    margin-right: 100px;
    color: pink;
   margin-bottom: 0px;
}


.novedadesface{
    flex-direction: column;
    
}

.novedadesface h3{
    font-size: 11px;
    margin-top: 5px;
    margin-right:110px ;
    padding-left: 0;
    color:rgb(140, 181, 235);
}
.novedadesface img{
    width: 50px;
       
}

.padrecontacto{
    flex-direction: column;
    
}
.contactoradio ul ol{
    
    flex-direction: column;
    margin-top: 8px;
    
}
.contacto .menu h2{
        font-size: 17px;
        font-size: bolder;
        font-size: italic;
        color:pink;
        text-align:left;
        height: 5px;
           
}
.contactoradio h2{
    font-size: 14px;
    height: 4px;
}
.contactoradio ul{
        flex-direction: column;
        height: 85px;
        
}
.contactoMarisa{
    margin-left: -7px;
}

.contactoMarisa h2 {
   
    text-align: justify;
    font-size: 15px;
    
}

label {
    font-size: 12px;
    margin-top: 3px;
    margin-left: 8px;
}

form {
    display: flex;
    flex-direction: column;
    width: 223px;
    margin-left: 50px;
    color: white;
}

input[type=text] {
    border: 0;
    border-bottom: 1px solid #90a378;
    
    padding: 15px;
    background-color: white;

}

input[type=email] {
    border: 0;
    border-bottom: 1px solid #90a378;
    
    padding: 15px;
    background-color: white;
}

textarea {
    border: 0;
    border-bottom: 1px solid #90a378;
    padding: 19px;
    background-color: white;
}


button {
    width: 100px;
    text-align: center;
    padding: 8px 10px;
    background-color: black;
    color: white;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}

button  :hover{
    color: gold;
}

.bi-arrow-right-short {
    color: white;
}
footer {
    width: 350px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 11px;
}


}