/* font-family: 'Urbanist', sans-serif;*/

/*

*{
    margin: 0;
    padding: 0;
}
*/
body {
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #02051f;
    margin: 0 auto;

}

header {
    /*background-color:#0d1770;*/
    padding-top: 3px;
    height: 76px;
    background-color: black;
    margin: 0 auto;
    width: 960px;
    

}

.audio audio {
    margin-bottom: 10px;
    
}
.audio img {
    border-radius: 100%;
    border-color: white;
    border: solid 3px white;
    
}

header h1 {
    color: white;
    font-size: 1rem;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 31px;
   
}

header h1 .nombre_Marisa {
    color: white;
    font-size: 1rem;
    font-style: normal;
    display: inline-block;
    
}

nav .holder{
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-style: italic;
   /* position: fixed;*/
    align-items: center;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;  
    
}

.iconos_menu{
    align-content: flex-end;
    width: 60px;
    background-color: #0d1770;
    

}
header nav{
    position:fixed;
}

nav a {
    text-decoration: none;
    color: white;

}

nav a:hover {
    color: brown;
}

footer {
    width: 960px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: white;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
    
}

.columnas {
    display: flex;

}

/** INICIO */

.linkRadio {
    text-decoration: none;
    color: black;

}

.linkRadio img {
    height: 300px;
    width: 960px;

}

.linkradio {
    text-align: center;
    background-color:#02051f;
    color: white;
    font-size: 20px;

}

.foto_quien img {
   
    width: 405px;
    height: 500px;
    margin-bottom: 0px;
   

}

.quien {
    background-color: #043bf0;
    height: 485px;
    margin-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-align: justify;
    font-size: 15px;
    font-style: bolder;
    color: white;
}

/*MI PROGRAMA*/



.columnasmp {
    display: flex;
    box-sizing: border-box;  
   
}

.programacion{
    text-decoration: none;
    
} 
.programacion img{
    box-sizing: border-box;
    
}

.programacion :hover {
    color: brown;

}
.miprogramalink{
    font-size: 20px;
    background-color: #02051f;
    color: white;
    text-align: center;
    
}

.programas_anteriores {
    display: flex;
    
}

.fotoprograma0507 {
    margin-left: 14px;
   
}
.fotoprograma0507 img{
    width: 375px;
    height: 500px;
    
    
}

.programa_5_7 h2 {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.programa_5_7 p {
    color: white;
    font-size: 19px;
    margin-left: 10px;
    font-family: italic;
    margin-top: 40px;
    text-align: justify;
}

.programa h2 {
    margin-top: 2px;
    color: white;
    font-size: 14px;
    text-align: center;
    
    
}


/* COLABORADORES*/

.fotogrande {
    background-color: #02051f;
    display: flex;
    justify-content: center;

}

.fotogrande img:hover {
    filter: grayscale(1%);
    transform: rotate(7deg);
}

.fotoscolaboradores {
    display: flex;
    justify-content: center;
    width: 30%;
    margin-left: 335px;
    margin-top: 30px;
    text-align: center;
    color: white;
}

.colaborador1 {
    margin-right: 40px;

}

.colaborador1 h5 {
    margin-top: 0px;
}

.colaborador2 {
    margin-right: 40px;

}

.colaborador2 h5 {
    margin-top: 0px;
}
.colaborador3{
    margin-right:40px;
}

.colaborador3 h5 {
    margin-top: 0px;

}

.colaborador4 h5{
    margin-top:0px;
}

/* NOVEDADES */

.novedades h2{
    color:rgb(140, 181, 235);
    text-align: center;
    margin-top: 50px;
}
.novedadesface{
    display: flex;
   
}
.novedades h3{
    color:rgb(140, 181, 235);
    margin-left: 100px;
    font-size: 20px;
    text-align: center;
    margin-top: 90px;
}
.novedadesface img{
    margin-left: 130px;
}


/* CONTACTO*/

.padrecontacto {
    display: flex;
    box-sizing: border-box;
    margin-top: 20px;

}

.contactoradio {
    width: 400px;
    
}
.contactoradio ul{
    padding-left: 0;
}

.contactoradio ol {
    flex-direction: column;
    color: white;
    margin-top: 20px;

}

.contactoradio h2 {
    text-align: justify;
    color: rgb(140, 181, 235);
    padding-top: 5px;
    padding-bottom: 20px;
}

.contactoradio ul :hover {
    color: brown;
}

.contactoMarisa {
    width: 500px;
    flex-direction: column;
    margin-left: 80px;
}

.contactoMarisa h2 {
    color:rgb(140, 181, 235);
    margin-left: 50px;
    text-align: justify;
    width: 430px;
}

label {
    font-size: 13px;
    margin-top: 3px;
    margin-left: 8px;
}

form {
    display: flex;
    flex-direction: column;
    width: 430px;
    margin-left: 50px;
    color: white;
}

input[type=text] {
    border: 0;
    border-bottom: 1px solid #90a378;
    ;
    padding: 15px;
    background-color: white;

}

input[type=email] {
    border: 0;
    border-bottom: 1px solid #90a378;
    ;
    padding: 15px;
    background-color: white;
}

textarea {
    border: 0;
    border-bottom: 1px solid #90a378;
    padding: 19px;
    background-color: white;
}


button {
    width: 100px;
    text-align: center;
    padding: 8px 10px;
    background-color: black;
    color: white;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}

button  :hover{
    color: gold;
}

.bi-arrow-right-short {
    color: white;
}